{% load i18n %}
<!-- ko if: loading() === false -->
<div class="final-step">
  <div class="her-final-step-section">
    <h5 class="summary-value">{% trans 'Modified Resource Instance' %}</h5>
    <div class="final-step-section-block">
      <div class="final-step-section-block-item">
        <a data-bind="attr: { href: urls.resource + '/' + resourceid}" target="_blank">
          <div
            class="summary-value"
            data-bind="text: displayName() + ' ({% trans 'Consultation Resource Instance' %})'"
          ></div>
        </a>
      </div>
    </div>
  </div>
  <div style="display: flex; flex-wrap: wrap">
    <div
      data-bind="component: {
        name: 'render-nodes',
        params: {
          resourceNodes: renderedNodegroups()['consultation']
        }
      }"
    ></div>
  </div>
</div>
<!-- /ko -->
