{% extends "views/components/widgets/base.htm" %}
{% load template_tags %}
{% load i18n %}

{% block form %}
    <div class="row" style="margin: 0px;">
        <div class="pad-hor" aria-label="Confirmation of Sign Off">
            <label data-bind="css: {}, onEnterkeyClick, onSpacekeyClick, click: function(e){$setValue()}" tabindex="0" role="checkbox">
                <input type="checkbox" name="stat-w-label" data-bind="attr: {'aria-checked': isUserAlreadyAdded()}, checked: isUserAlreadyAdded() ? true : false"><span>Sign Off</span>
            </label>
        </div>
    </div>
{% endblock form %}

{% block old %}
    <!-- ko component: {
        name: 'default-card',
        params: params
    } --><!-- /ko -->
    <!-- ko ifnot: self.displayOntologyTable -->
        <!-- ko foreach: {data: Object.keys(signOffNodes()), as: 'signatureNode'} -->
            <!-- <div class="row" style="margin: 0px;" data-bind="class: $parent.nodeCssClasses">
                <div class="pad-hor" aria-label="Confirmation of Sign Off">
                    <label data-bind="css: {}, onEnterkeyClick, onSpacekeyClick, click: function(e){$parent.setValue(signatureNode)}" tabindex="0" role="checkbox">
                        <input type="checkbox" name="stat-w-label" data-bind="attr: {'aria-checked': $parent.isUserAlreadyAdded()[signatureNode]}, checked: $parent.tile.data[signatureNode]() ? true : false"><span>Sign Off</span>
                    </label>
                </div>
            </div> -->
        <!-- /ko -->
    <!-- /ko -->

{% endblock old %}

