node_modules
**/node_modules
*.pyc
__pycache__
.git
.venv
.env
ENV
coral/media/build
coral/media/node_modules
coral/staticfiles
coral/uploadedfiles
coral/logs
coral/arches.log
coverage
build
dist
*.egg-info
