*.pyc
*.log
node_modules
*.coverage
coral/logs
coral/export_deliverables
coral/cantaloupe/*
coral/staticfiles
coral/media/packages
coral/media/build/
coral/uploadedfiles/*
coral/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE
coral/docx
.venv/
loadable/
