*.pyc
*.log
coral/logs
coral/export_deliverables
coral/cantaloupe/*
coral/staticfiles
coral/media/packages
coral/media/node_modules
coral/media/build/*
coral/uploadedfiles/*
coral/settings_local.py
coral/webpack/webpack-stats.json
coral/webpack/webpack-user-config.js
.vscode/
CACHE
coral/docx
.venv/
