cachetools
django-storages==1.12
boto3==1.24.70
django-storages[google]
google-auth
google-cloud-storage

colorama==0.4.5
tabulate<0.9
asciitree

starlette<=0.20.0
typing_extensions
starlette-graphene3
starlette-context
uvicorn<=0.15.0
click<8
graphene_file_upload
aiodataloader<0.3.0
python-multipart<0.0.6
semantic_version
PyJWT
requests_oauthlib
python-docx


git+https://github.com/flaxandteal/arches-orm@af63310bb6a19abf0a96f0847c4b4f5bae6a4808
pika
django-authorization
casbin-django-orm-adapter
cachetools
websockets

geojson
PyYAML
