<div class="card-component" style="display: flex; flex-direction: column">
  <h4 class="card-title">Workflow Config</h4>
  <text-widget
    params="
      config: {
        label: 'Workflow Name',
        placeholder: 'Please provide a name for the workflow',
      },
      value: {
        en: {
          value: workflowName
        }
      },
      loading: false,
      pageVm: $root
    "
  ></text-widget>
  <radio-boolean-widget
    params="
      style: ,
      node: {
        config: {
          trueLabel: 'Yes',
          falseLabel: 'No',
        },
      },
      config: {
        label: 'Auto generate workflow slug based on the workflow name?',
      },
      value: autoGenerateSlug,
      loading: false,
      pageVm: $root
    "
  ></radio-boolean-widget>
  <text-widget
    params="
      config: {
        label: 'Workflow Slug',
        placeholder: 'Please provide a unique workflow slug',
      },
      value: {
        en: {
          value: workflowSlug
        }
      },
      disabled: autoGenerateSlug,
      loading: false,
      pageVm: $root
    "
  ></text-widget>
  <radio-boolean-widget
    params="
      node: {
        config: {
          trueLabel: 'Yes',
          falseLabel: 'No',
        },
      },
      config: {
        label: 'Show workflow in sidebar?',
      },
      value: showWorkflowOnSidebar,
      loading: false,
      pageVm: $root
    "
  ></radio-boolean-widget>
</div>
<div class="card-component" style="display: flex; flex-direction: column">
  <h4 class="card-title">Init Workflow Config</h4>
  <radio-boolean-widget
    params="
      node: {
        config: {
          trueLabel: 'Yes',
          falseLabel: 'No',
        },
      },
      config: {
        label: 'Show on workflows page?',
      },
      value: showWorkflowOnInitWorkflow,
      loading: false,
      pageVm: $root
    "
  ></radio-boolean-widget>
  <text-widget
    params="
      config: {
        label: 'Workflow Name',
        placeholder: 'Please provide a workflow name',
      },
      value: {
        en: {
          value: initWorkflowName
        }
      },
      loading: false,
      pageVm: $root
    "
  ></text-widget>
  <text-widget
    params="
      config: {
        label: 'Description',
        placeholder: 'Please provide a description',
      },
      value: {
        en: {
          value: initDescription
        }
      },
      loading: false,
      pageVm: $root
    "
  ></text-widget>
</div>
