<div class="card-component">
    <div class="row widget-wrapper">
        <div class="widget-input-label">Asset Refference</div>
        <div data-bind="component: {
            name: 'text-widget',
            params: {
                loading: loading,
                value: resValue,
                pageVm: $root,
                graphids: [graphid],
                renderContext: 'workflow',
            }
        }">
        </div>
    </div>
        <div style="display: flex; justify-content: flex-end; padding: 0 18px;">
            <button 
                class="btn btn-workflow-tile btn-danger" 
                style="margin-right: 8px;"
                data-bind="click: clearEditor"
            >
                <span data-bind="text: $root.translations.clear"></span>
            </button>

            <button 
                class="btn btn-workflow-tile btn-success" 
                data-bind="{
                    click: save,
                    text: tileLoadedInEditor() ? 'Save' : 'Add'
                }"
            ></button>
        </div>
</div>
