<div class="card-component">
    <div class="row widget-wrapper">
        <div class="widget-input-label">Site Name</div>
        <div data-bind="component: {
            name: 'text-widget',
            params: {
                loading: loading,
                pageVm: $root,
                graphids: [graphid],
                renderContext: 'workflow',
            }
        }">
        </div>
    </div>
    <!-- <div class="row widget-wrapper">
        <div class="widget-input-label">B file / CM number</div>
        <div data-bind="component: {
            name: 'text-widget',
            params: {
                loading: loading,
                value: resValue,
                pageVm: $root,
                graphids: [graphid],
                renderContext: 'workflow',
            }
        }">
        </div>
    </div>
    <div class="row widget-wrapper">
        <div class="widget-input-label">Asset References</div>
        <div data-bind="component: {
            name: 'text-widget',
            params: {
                loading: loading,
                value: resValue,
                pageVm: $root,
                graphids: [graphid],
                renderContext: 'workflow',
            }
        }">
        </div>
    </div>
    <div class="row widget-wrapper">
        <div class="widget-input-label">Planning Reference</div>
        <div data-bind="component: {
            name: 'text-widget',
            params: {
                loading: loading,
                value: resValue,
                pageVm: $root,
                graphids: [graphid],
                renderContext: 'workflow',
            }
        }">
        </div>
    </div>
    <div class="row widget-wrapper">
        <div class="widget-input-label">Applicant</div>
        <div data-bind="component: {
            name: 'text-widget',
            params: {
                loading: loading,
                value: resValue,
                pageVm: $root,
                graphids: [graphid],
                renderContext: 'workflow',
            }
        }">
        </div>
    </div>
    <div class="row widget-wrapper">
        <div class="widget-input-label">Received Date</div>
        <div data-bind="component: {
            name: 'text-widget',
            params: {
                loading: loading,
                value: resValue,
                pageVm: $root,
                graphids: [graphid],
                renderContext: 'workflow',
            }
        }">
        </div>
    </div>
    <div class="row widget-wrapper">
        <div class="widget-input-label">Acknowledged Date</div>
        <div data-bind="component: {
            name: 'text-widget',
            params: {
                loading: loading,
                value: resValue,
                pageVm: $root,
                graphids: [graphid],
                renderContext: 'workflow',
            }
        }">
        </div>
    </div>
    <div class="row widget-wrapper">
        <div class="widget-input-label">Cancelled Date</div>
        <div data-bind="component: {
            name: 'text-widget',
            params: {
                loading: loading,
                value: resValue,
                pageVm: $root,
                graphids: [graphid],
                renderContext: 'workflow',
            }
        }">
        </div>
    </div>
    <div class="row widget-wrapper">
        <div class="widget-input-label">Licensee</div>
        <div data-bind="component: {
            name: 'text-widget',
            params: {
                loading: loading,
                value: resValue,
                pageVm: $root,
                graphids: [graphid],
                renderContext: 'workflow',
            }
        }">
        </div>
    </div>
    <div class="row widget-wrapper">
        <div class="widget-input-label">Company</div>
        <div data-bind="component: {
            name: 'text-widget',
            params: {
                loading: loading,
                value: resValue,
                pageVm: $root,
                graphids: [graphid],
                renderContext: 'workflow',
            }
        }">
        </div>
    </div>
    <div class="row widget-wrapper">
        <div class="widget-input-label">County</div>
        <div data-bind="component: {
            name: 'text-widget',
            params: {
                loading: loading,
                value: resValue,
                pageVm: $root,
                graphids: [graphid],
                renderContext: 'workflow',
            }
        }">
        </div>
    </div>
    <div class="row widget-wrapper">
        <div class="widget-input-label">Townland</div>
        <div data-bind="component: {
            name: 'text-widget',
            params: {
                loading: loading,
                value: resValue,
                pageVm: $root,
                graphids: [graphid],
                renderContext: 'workflow',
            }
        }">
        </div>
    </div>
    <div class="row widget-wrapper">
        <div class="widget-input-label">Address</div>
        <div data-bind="component: {
            name: 'text-widget',
            params: {
                loading: loading,
                value: resValue,
                pageVm: $root,
                graphids: [graphid],
                renderContext: 'workflow',
            }
        }">
        </div>
    </div>
    <div class="row widget-wrapper">
        <div class="widget-input-label">Start Date</div>
        <div data-bind="component: {
            name: 'text-widget',
            params: {
                loading: loading,
                value: resValue,
                pageVm: $root,
                graphids: [graphid],
                renderContext: 'workflow',
            }
        }">
        </div>
    </div>
    <div class="row widget-wrapper">
        <div class="widget-input-label">End Date</div>
        <div data-bind="component: {
            name: 'text-widget',
            params: {
                loading: loading,
                value: resValue,
                pageVm: $root,
                graphids: [graphid],
                renderContext: 'workflow',
            }
        }">
        </div>
    </div>
    <div class="row widget-wrapper">
        <div class="widget-input-label">License Number</div>
        <div data-bind="component: {
            name: 'text-widget',
            params: {
                loading: loading,
                value: resValue,
                pageVm: $root,
                graphids: [graphid],
                renderContext: 'workflow',
            }
        }">
        </div>
    </div>
    <div class="row widget-wrapper">
        <div class="widget-input-label">Submission Details</div>
        <div data-bind="component: {
            name: 'text-widget',
            params: {
                loading: loading,
                value: resValue,
                pageVm: $root,
                graphids: [graphid],
                renderContext: 'workflow',
            }
        }">
        </div>
    </div>
    <div class="row widget-wrapper">
        <div class="widget-input-label">POW Other Information</div>
        <div data-bind="component: {
            name: 'text-widget',
            params: {
                loading: loading,
                value: resValue,
                pageVm: $root,
                graphids: [graphid],
                renderContext: 'workflow',
            }
        }">
        </div>
    </div> -->
</div>