<div class="card-component">
    <div class="row widget-wrapper">
        <!-- <div class="widget-input-label" data-bind="text: labels"></div> -->
            <!-- <div data-bind="text: graphid"></div> -->
            <div data-bind="foreach: { data: widget_group, as: 'widget', noChildContext: true}">
            <!-- <div data-bind="text: Object.keys(widget)"> -->
            <div data-bind="text: widget.selected_label"></div>
            <!-- <div data-bind="text: widget.htm_params"></div> -->
            <!-- <div data-bind="text: graphid"></div> -->
            <div data-bind="visible: widget.visible, component: {
                name: widget.widgetList()[0].name,
                params: {
                    card: ko.unwrap(card),
                    // tile: ko.unwrap(tile),
                    // provisionalTileViewModel: provisionalTileViewModel,
                    // reviewer: reviewer,
                    // loading: loading,
                    visible: widget.visible,
                    form: $data,
                    graphids: [graphid],
                    value: ko.observable(''),
                    state: 'form',
                    pageVm: $data.pageVm
                }
            }">
            </div>
            </div>
        </div>
    </div>
</div>
