<div class="card-component">
    <div class="row widget-wrapper">
        <!-- <div class="widget-input-label" data-bind="text: labels"></div> -->
            <div data-bind="foreach: { data: widget_group, as: 'widget'}">
            <!-- <div data-bind="text: Object.keys(widget)"> -->
            <div data-bind="text: widget.selected_label"></div>
            <div data-bind="text: widget.htm_params"></div>
            <div data-bind="visible: widget.visible, component: {
                name: widget.widgetList()[0].name,
                params: widget.htm_params
            }">
            </div>
            </div>
        </div>
    </div>
</div>
