<!-- ko if: state === 'Planning'-->
<div class="card-grid-item" style="margin: 1rem; width:375px">
  <div class="panel mar-no dashboard-card-panel">
    <div class="panel-heading" style="height: 38px">
      <h3 id="f1-name" class="panel-title library-card-panel-title" style="font-weight: bold; font-size: 1.4rem">
        <span data-bind="text: data.displayname"></span>
      </h3>
      <!-- ko if: data.deadlinemessage -->
        <div class="flex-center title-info-margin">
          <div><strong data-bind="text: data.deadlinemessage"></strong></div>
          <i style="color: rgb(197, 2, 2); margin-left: 1rem" class="fa fa-exclamation-circle"></i>
        </div>
      <!-- /ko -->
    </div>
    <div class="dashboard-card-columns">
      <div>
        <h5>Consultaiton Date</h5>
        <p data-bind="text: data.date ?? 'Not Set'"></p>
      </div>
      <div>
        <h5>Deadline</h5>
        <p data-bind="text: data.deadline ?? 'Not Set'"></p>
      </div>
      <div>
        <h5>Hierarchy</h5>
        <p data-bind="text: data.hierarchy_type"></p>
      </div>
    </div>
    <div class="dashboard-card-columns-alt">
      <div style="max-height: 80px">
        <h5>Description</h5> 
        <div style="max-height: 50px; overflow: auto">
          <p style="font-size: 1rem" data-bind="text: data.displaydescription"></p>
        </div>
        
      </div>
      <div style="min-height: 84px;">
        <h5>Address</h5> 
        <!-- ko foreach: data.address -->
          <p style="margin-bottom: 2px; font-size: 1rem" data-bind="text: $data"></p>
        <!-- /ko -->
      </div>
    </div>
    <div class="panel-footer dashboard-footer">
      <div style="height:100%; display:flex; align-items:center">
        <h5>Status: <span style="font-weight: initial" data-bind="text: data.status"></span></h5>
      </div>
      <div class="flex-center">
        <!--ko if: data.responded.type -->
        <div class="flex-center margin-right-10">
          <h5 class="margin-right-5">Response:</h5>
          <!--ko if: data.responded.type === 'Assign To Both HM & HB' || data.responded.type === 'Assign To HM' -->
          <div class="flex-center margin-right-5">
            <h5 class="margin-right-2" style="font-weight: initial">HM:</h5>
            <div class="dot-outline" data-bind="css: { 'dot-filled': data.responded.HM }"></div>
          </div>
          <!-- /ko -->
          <!--ko if: data.responded.type === 'Assign To Both HM & HB' || data.responded.type === 'Assign To HB' -->
          <div class="flex-center">
            <h5 class="margin-right-2" style="font-weight: initial">HB:</h5>
            <div class="dot-outline" data-bind="css: { 'dot-filled': data.responded.HB }"></div>
          </div>
          <!-- /ko -->
        </div>
        <!-- /ko -->
        <button
          id="f1"
          class="add-function-button btn btn-primary btn-labeled fa fa-link"
          data-bind="click: () => {
            openFlagged(data.id, data.responseslug)
          } "
        >
          <span>Open</span>
        </button>
      </div>
    </div>
  </div>
</div>
</div>
<!-- /ko -->

<!-- ko if: state === 'Excavation'-->
<div class="card-grid-item" style="margin: 2rem; width:375px">
<div class="panel mar-no dashboard-card-panel">
<div class="panel-heading" style="height: 38px">
  <h3 id="f1-name" class="panel-title library-card-panel-title" style="font-weight: bold; font-size: 1.4rem">
    <span data-bind="text: data.displayname"></span>
  </h3>
  <!-- ko if: data.deadlinemessage -->
    <div class="flex-center title-info-margin">
      <div><strong data-bind="text: data.deadlinemessage"></strong></div>
      <i style="color: rgb(197, 2, 2); margin-left: 1rem" class="fa fa-exclamation-circle"></i>
    </div>
  <!-- /ko -->
</div>
<div class="dashboard-card-columns">
  <div>
    <h5>Site Name</h5>
    <p data-bind="text: data.sitename ?? 'Not Set'"></p>
  </div>
  <div>
    <h5>CM Reference</h5>
    <p data-bind="text: data.cmreference ?? 'Not Set'"></p>
  </div>
  <div>
    <h5>Valid Until</h5>
    <p data-bind="text: data.validuntildate"></p>
  </div>
</div>
<div class="dashboard-card-columns">
  <div style="min-height: 84px;">
    <h5>Employing Body</h5> 
    <!-- ko foreach: data.employingbody -->
      <p style="margin-bottom: 2px; font-size: 1rem" data-bind="text: $data"></p>
    <!-- /ko -->
  </div>
  <div style="min-height: 84px;">
    <h5>Nominated Directors</h5> 
    <!-- ko foreach: data.nominateddirectors -->
      <p style="margin-bottom: 2px; font-size: 1rem" data-bind="text: $data"></p>
    <!-- /ko -->
  </div>
</div>
<div class="panel-footer dashboard-footer">
  <div style="height:100%; display:flex; align-items:center">
    <h5>Report Status: <span style="font-weight: initial" data-bind="text: data.reportstatus"></span></h5>
  </div>
  <div>
    <button
      id="f1"
      class="add-function-button btn btn-primary btn-labeled fa fa-link"
      data-bind="click: () => {
        openFlagged(data.id, data.responseslug)
      } "
    >
      <span>Open</span>
    </button>
  </div>
</div>
</div>
</div>
<!-- /ko -->
<!-- ko if: state === 'HeritageAsset'-->
<div class="card-grid-item" style="margin: 2rem; width:375px">
  <div class="panel mar-no dashboard-card-panel">
  <div class="panel-heading" style="height: 38px">
    <h3 id="f1-name" class="panel-title library-card-panel-title" style="font-weight: bold; font-size: 1.4rem">
      <span data-bind="text: data.displayname"></span>
    </h3>
  </div>
  <div class="dashboard-card-columns">
    <div>
      <h5>Type</h5>
      <!-- ko foreach: data.monumenttype -->
      <p style="margin-bottom: 2px; font-size: 1rem" data-bind="text: $data"></p>
      <!-- /ko -->
    </div>
    <div>
      <h5>Input Date</h5>
      <p data-bind="text: data.inputdate"></p>
    </div>
  </div>
  <div class="dashboard-card-columns">
    <div style="min-height: 84px;">
      <h5>Statutory Consultee Notif Date</h5> 
      <p data-bind="text: data.statutoryconsulteenotificationdatevalue"></p>
    </div>
    <div style="min-height: 84px;">
      <h5>HMC Ref</h5> 
      <p data-bind="text: data.hmcreferencenumber"></p>
    </div>
  </div>
  <div class="panel-footer dashboard-footer">
    <div style="height:100%; display:flex; align-items:center">
      <h5>Model <span style="font-weight: initial" data-bind="text: data.state"></span></h5>
    </div>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Open
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <!-- ko foreach: {data: data.slugs, as: 'slug' -->
        <li><a href="#" data-bind="
          click: () => {$parent.openFlagged(data.id, slug.slug)}, 
          text: slug.name"
        >Action</a></li>
        <!-- /ko -->
      </ul>
    </div>
  </div>
  </div>
  </div>
</div>
<!-- /ko -->