<div>
  <!-- ko with: card -->
  <div>
    <div class="card-component">
      <div data-bind="text: title"></div>
      <div class="row widget-wrapper">
        <select
          data-bind="
            options: components, 
            optionsText: (item) => {
              return item.parameters.semanticName
            },
            value: selectedNodegroup
          "
        ></select>
      </div>
      <div
        data-bind="component: {
          name: 'domain-radio-widget',
          params: {  
            node: {
              config: {
                options: tileManagedOptions,
              },
              configKeys: configKeys
            },
            config: {
              label: 'Tiles Managed',
            },
            value: selectedTileManaged,
            loading: false,
            form: $data,
            pageVm: $root
          }
      }"
      ></div>
      <workflow-component-abstract
        params="component: workflowComponentAbstract()"
      ></workflow-component-abstract>
    </div>
  </div>
  <!-- /ko -->
</div>
