<div>
  <!-- ko with: card -->
  <div>
    <div class="card-component">
      <div data-bind="text: title"></div>
      <div class="row widget-wrapper"></div>
      <div
        data-bind="component: {
          name: 'domain-select-widget',
          params: {
            node: {
              config: {
                options: nodegroupOptions,
                multiple: false
              },
              configKeys: configKeys
            },
            config: {
              label: 'Selected Nodegroup',
            },
            value: selectedNodegroup,
            loading: false,
            form: $data,
            pageVm: $root
          }
      }"
      ></div>
      <div
        data-bind="component: {
          name: 'domain-radio-widget',
          params: {  
            node: {
              config: {
                options: tileManagedOptions,
              },
              configKeys: configKeys
            },
            config: {
              label: 'Tiles Managed',
            },
            value: selectedTileManaged,
            loading: false,
            form: $data,
            pageVm: $root
          }
      }"
      ></div>
      <workflow-component-abstract
        params="visible: cardHasLoaded, component: workflowComponentAbstract()"
      ></workflow-component-abstract>
    </div>
  </div>
  <!-- /ko -->
</div>
