{% load i18n %}

<!-- ko if: loading() === false -->
<div style="display: flex; flex-direction: row">
  <div class="card-component" style="width: 100%">
    <div class="row widget-wrapper">
      <!-- <div
        data-bind="component: {
          name: 'text-widget',
          params: {
              config: {
                  'label': 'Recipient Name',
              },
              value: applicant,
              loading: loading,
              form: $data,
              pageVm: $root
          }
      }"
      ></div> -->
      <div
        data-bind="component: {
          name: 'domain-radio-widget',
          node: {
            'config': {
              'options': addressOptions,
            },
          },
          params: {
            node: {
            'config': {
              'options': addressOptions,
              },
              'configKeys': configKeys
            },
            config: {
              'label': 'Recipient Type',
              'options': addressOptions,
            },
            value: selectedAddress,
            loading: loading,
            form: $data,
            pageVm: $root
          }
      }"
      ></div>
      
      <!-- ko if: contacts_loaded -->
      <!-- <div
        data-bind="if: selectedAddress() === 'applicant', component: {
          name: 'domain-select-widget',
          node: {
            'config': {
              'options': addressOptions,
            },
          },
          params: {
            node: {
            'config': {
              'options': addressOptions,
              },
              'configKeys': configKeys
            },
            config: {
              'label': 'Recipient Type',
              'options': addressOptions,
            },
            value: selectedAddress,
            loading: loading,
            form: $data,
            pageVm: $root
          }
      }"
      ></div> -->

      <div data-bind="if: selectedAddress() === 'applicant'">
      <div>Recipient Name</div>
      <select class="select2-choice select2-default"
        data-bind="options: Object.keys(applicants()), value: applicant, style: { width: '95%', background: 'white', colour: 'black'}"
      ></select>
      <div>Recipient Address</div>
      <select class="select2-choice select2-default"
        data-bind="options: applicants() ? applicants()[applicant().en.value] : [], value: tempAdd, optionsText: function(loc){ return loc.buildingNumber + ' ' + loc.street }, style: { width: '95%', background: 'white', colour: 'black'}"
      ></select>
    </div>
    <div data-bind="if: selectedAddress() === 'company'">
      <div>Company Name</div>
      <select class="select2-choice select2-default"
        data-bind="options: Object.keys(companies()), value: company, style: { width: '95%', background: 'white', colour: 'black'}"
      ></select>
      <div>Company Address</div>
      <select class="select2-choice select2-default"
        data-bind="options: companies()[company().en.value], value: tempAdd, optionsText: function(loc){ return loc.buildingNumber + ' ' + loc.street }, style: { width: '95%', background: 'white', colour: 'black'}"
      ></select>
    </div>
    <div data-bind="if: selectedAddress() === 'site', visible: false">
      <select class="select2-choice select2-default"
        data-bind="options: [siteAddress], value: tempAdd, optionsText: function(loc){ return loc.buildingNumber + ' ' + loc.street }, style: { width: '95%', background: 'white', colour: 'black'}"
      ></select>
    </div>
      <!-- /ko -->
    </div>
    <div class="row widget-wrapper">
      <div
        data-bind="component: {
            name: 'text-widget',
            params: {
                config: {
                    'label': 'Site Name',
                },
                value: areaName,
                loading: loading,
                form: $data,
                pageVm: $root
            }
        }"
      ></div>
    </div>
    <div class="row widget-wrapper">
      <div
        data-bind="component: {
        name: 'datepicker-widget',
        params: {
            node: {
                config: {
                    'dateFormat': 'DD-MM-YYYY',
                },
            },
            config: {
                'label': 'Application Recieved Date',
                'maxDate': '',
                'minDate': '',
                'viewMode': 'days',
                'dateFormat': 'DD-MM-YYYY',
                'defaultValue': ''
            },
            value: appDate,
            loading: loading,
            form: $data,
            pageVm: $root
        }
      }"
      ></div>
    </div>
    <div class="row widget-wrapper">
      <div
        data-bind="component: {
        name: 'datepicker-widget',
        params: {
            node: {
                config: {
                    'dateFormat': 'DD-MM-YYYY',
                },
            },
            config: {
                'label': 'Send Date',
                'maxDate': '',
                'minDate': '',
                'viewMode': 'days',
                'dateFormat': 'DD-MM-YYYY',
                'defaultValue': ''
            },
            value: sendDate,
            loading: loading,
            form: $data,
            pageVm: $root
        }
      }"
      ></div>
    </div>
    <div class="row widget-wrapper">
      <div
        data-bind="component: {
          name: 'text-widget',
          params: { 
            config: {
                'label': 'Building Name',
            },
            value: buildingName,
            loading: loading,
            form: $data,
            pageVm: $root
          }
        }"
      ></div>
    </div>
    <div class="row widget-wrapper">
      <div
        data-bind="component: {
          name: 'text-widget',
          params: {
            config: {
                'label': 'Street',
            },
            value: street,
            loading: loading,
            form: $data,
            pageVm: $root
          }
        }"
      ></div>
    </div>
    <div class="row widget-wrapper">
      <div
        data-bind="component: {
          name: 'text-widget',
          params: {
            config: {
                'label': 'Building Number',
            },
            value: buildingNumber,
            loading: loading,
            form: $data,
            pageVm: $root
          }
        }"
      ></div>
    </div>
    <div class="row widget-wrapper">
      <div
        data-bind="component: {
          name: 'text-widget',
          params: {
            config: {
                'label': 'Building Number Sub Street',
            },
            value: buildingNumberSubSt,
            loading: loading,
            form: $data,
            pageVm: $root
          }
        }"
      ></div>
    </div>
    <div class="row widget-wrapper">
      <div
        data-bind="component: {
          name: 'text-widget',
          params: {
            config: {
                'label': 'Sub Street',
            },
            value: subStreet,
            loading: loading,
            form: $data,
            pageVm: $root
          }
        }"
      ></div>
    </div>
    <div class="row widget-wrapper">
      <div
        data-bind="component: {
          name: 'text-widget',
          params: {
            config: {
                'label': 'Town or City',
            },
            value: city,
            loading: loading,
            form: $data,
            pageVm: $root
          }
        }"
      ></div>
    </div>
    <div class="row widget-wrapper">
      <div
        data-bind="component: {
          name: 'text-widget',
          params: {
            config: {
                'label': 'County',
            },
            value: county,
            loading: loading,
            form: $data,
            pageVm: $root
          }
        }"
      ></div>
    </div>
    <div class="row widget-wrapper">
      <div
        data-bind="component: {
          name: 'text-widget',
          params: {
            config: {
                'label': 'Postcode',
            },
            value: postCode,
            loading: loading,
            form: $data,
            pageVm: $root
          }
        }"
      ></div>
    </div>
    <div class="row widget-wrapper">
      <div
        data-bind="component: {
          name: 'text-widget',
          params: {
            config: {
                'label': 'Signed',
            },
            value: signed,
            loading: loading,
            form: $data,
            pageVm: $root
          }
        }"
      ></div>
    </div>
    <div class="row widget-wrapper">
      <div
        data-bind="component: {
          name: 'text-widget',
          params: {
            config: {
                'label': 'Senior Inspector',
            },
            value: seniorInspector,
            loading: loading,
            form: $data,
            pageVm: $root
          }
        }"
      ></div>
    </div>
    <div class="row widget-wrapper">
      <div
        data-bind="component: {
          name: 'rich-text-widget',
          params: {
            config: {
                'label': 'Text contents',
            },
            value: textBody,
            displayfullvalue: true,
            loading: loading,
            form: $data,
            pageVm: $root
          }
        }"
      ></div>
    </div>
  </div>
  <div class="card-component" style="width: 100%">
    <div class="row widget-wrapper">
      <div
        data-bind="component: {
          name: 'cover-letter-widget',
          params: {
            config: {
              'label': 'Cover Letter',
            },
            coverLetterHtml: letter,
            loading: loading,
            form: $data,
            pageVm: $root
          }
        }"
      ></div>
      {% comment %} <div style="border: 5px solid black; padding: 10px; max-width: 500px; width: 100%">
        <!-- HEADER -->
        <div style="display: flex; align-items: end; width: 100%; flex-direction: column">
          <div>
            <!-- ko if: buildingName()[currentLanguage().code].value -->
            <span data-bind="text: buildingName()[currentLanguage().code].value"></span>
            <!-- /ko -->
            <!-- ko if: buildingName()[currentLanguage().code].value && buildingNumber()[currentLanguage().code].value -->
            <span>, </span>
            <!-- /ko -->
            <!-- ko if: buildingNumber()[currentLanguage().code].value -->
            <span data-bind="text: buildingNumber()[currentLanguage().code].value"></span>
            <!-- /ko -->
            <!-- ko if: buildingNumber()[currentLanguage().code].value && buildingNumberSubSt()[currentLanguage().code].value -->
            <span>, </span>
            <!-- /ko -->
            <!-- ko if: buildingNumberSubSt()[currentLanguage().code].value -->
            <span data-bind="text: buildingNumberSubSt()[currentLanguage().code].value"></span>
            <!-- /ko -->
          </div>
          <div>
            <!-- ko if: street()[currentLanguage().code].value -->
            <span data-bind="text: street()[currentLanguage().code].value"></span>
            <!-- /ko -->
            <!-- ko if: street()[currentLanguage().code].value && subStreet()[currentLanguage().code].value -->
            <span>, </span>
            <!-- /ko -->
            <!-- ko if: subStreet()[currentLanguage().code].value -->
            <span data-bind="text: subStreet()[currentLanguage().code].value"></span>
            <!-- /ko -->
          </div>
          <!-- ko if: city()[currentLanguage().code].value -->
          <span data-bind="text: city()[currentLanguage().code].value"></span>
          <!-- /ko -->
          <!-- ko if: county()[currentLanguage().code].value -->
          <span data-bind="text: county()[currentLanguage().code].value"></span>
          <!-- /ko -->
          <!-- ko if: postCode()[currentLanguage().code].value -->
          <span data-bind="text: getTextValue(postCode)"></span>
          <!-- /ko -->
        </div>
        <!-- DETAILS -->
        <div style="display: flex; width: 100%; flex-direction: column">
          <!-- ko if: sendDate() -->
          <span data-bind="text: 'Date: ' + sendDate()"></span>
          <!-- /ko -->
          <!-- ko if: getTextValue(bFileNumber) -->
          <span data-bind="text: 'Our ref: ' + getTextValue(bFileNumber)"></span>
          <!-- /ko -->
          <!-- ko if: getTextValue(areaName) -->
          <span data-bind="text: 'Site: ' + getTextValue(areaName)"></span>
          <!-- /ko -->
          <!-- ko if: getTextValue(licenseNo) -->
          <span data-bind="text: 'License No: ' + getTextValue(licenseNo)"></span>
          <!-- /ko -->
        </div>
        <!-- BODY -->
        <div style="display: flex; width: 100%; flex-direction: column; margin: 24px 0 16px 0">
          <!-- ko if: getTextValue(applicant) -->
          <span data-bind="text: '`Dear, ${getTextValue(applicant)}, ${company}`"></span>
          <!-- /ko -->
          <span
            data-bind="html: getTextValue(textBody) || 'Please enter information regarding the email!!'"
            style="margin-top: 8px"
          ></span>
        </div>
        <!-- FOOTER -->
        <div style="display: flex; width: 100%; flex-direction: column">
          <!-- ko if: getTextValue(seniorInspector) -->
          <span data-bind="text: 'Senior Inspector: ' + getTextValue(seniorInspector)"></span>
          <!-- /ko -->
          <span
            data-bind="text: 'Signed: ' + (getTextValue(signed) || 'Signature required!')"
          ></span>
        </div>
      </div> {% endcomment %}
    </div>
  </div>
</div>
<!-- /ko -->
