{% load i18n %}
<!-- ko if: loading() === false -->
<div class="final-step">
  <div class="her-final-step-section">
    <h5 class="summary-value">{% trans 'Created or Modified Resource Instance' %}</h5>
    <div class="final-step-section-block">
      <div class="final-step-section-block-item">
        <a data-bind="attr: { href: urls.resource + '/' + resourceid}" target="_blank">
          <div
            class="summary-value"
            data-bind="text: displayName + ' ({% trans 'Excavation Resource Instance' %})'"
          ></div>
        </a>
      </div>
    </div>
  </div>
  <div style="display: flex; justify-content: space-between">
    {% comment %} First block {% endcomment %}
    <div>
      <div class="her-final-step-section">
        <h5 class="summary-value">{% trans 'Application ID' %}</h5>
        <div class="final-step-section-block">
          <div class="final-step-section-block-item">
            <div class="block-item">
              <div
                class="summary-label"
                data-bind="text: reportVals.applicationId.name + ':'"
              ></div>
              <div class="summary-value" data-bind="text: reportVals.applicationId.value"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="her-final-step-section">
        <h5 class="summary-value">{% trans 'Site Name' %}</h5>
        <div class="final-step-section-block">
          <div class="final-step-section-block-item">
            <div class="block-item">
              <div class="summary-label" data-bind="text: reportVals.siteName.name + ':'"></div>
              <div class="summary-value" data-bind="text: reportVals.siteName.value"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="her-final-step-section">
        <h5 class="summary-value">{% trans 'County' %}</h5>
        <div class="final-step-section-block">
          <div class="final-step-section-block-item">
            <div class="block-item">
              <div class="summary-label" data-bind="text: 'County:'"></div>
              <div class="summary-value" data-bind="text: reportVals.county"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="her-final-step-section">
        <h5 class="summary-value">{% trans 'B File/CM Number' %}</h5>
        <div class="final-step-section-block">
          <div class="final-step-section-block-item">
            <div class="block-item">
              <div
                class="summary-label"
                data-bind="text: 'B File CM Number: '"
              ></div>
              <div class="summary-value" data-bind="text: reportVals.bFileNumber"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="her-final-step-section">
        <h5 class="summary-value">{% trans 'Grid Reference' %}</h5>
        <div class="final-step-section-block">
          <div class="final-step-section-block-item">
            <div class="block-item">
              <div class="summary-label" data-bind="text: reportVals.gridRef ? reportVals.gridRef.name : '' + ':'"></div>
              <div class="summary-value" data-bind="text: reportVals.gridRef ? reportVals.gridRef.value : ''"></div>
            </div>
          </div>
        </div>
      </div> -->
      <!-- <div class="her-final-step-section">
        <h5 class="summary-value">{% trans 'Planning Reference' %}</h5>
        <div class="final-step-section-block">
          <div class="final-step-section-block-item">
            <div class="block-item">
              <div class="summary-label" data-bind="text: reportVals.planningRef.name + ':'"></div>
              <div class="summary-value" data-bind="text: reportVals.planningRef.value"></div>
            </div>
          </div>
        </div>
      </div> -->
      <!-- <div class="her-final-step-section">
        <h5 class="summary-value">{% trans 'Applicant Information' %}</h5>
        <div class="final-step-section-block">
          <div class="final-step-section-block-item">
            <div class="block-item">
              <div
                class="summary-label"
                data-bind="text: reportVals.applicantInformation.name + ':'"
              ></div>
              <div
                class="summary-value"
                data-bind="text: reportVals.applicantInformation.value"
              ></div>
            </div>
          </div>
        </div>
      </div>
      <div class="her-final-step-section">
        <h5 class="summary-value">{% trans 'Status' %}</h5>
        <div class="final-step-section-block">
          <div class="final-step-section-block-item">
            <div class="block-item">
              <div class="summary-label" data-bind="text: reportVals.status.name + ':'"></div>
              <div class="summary-value" data-bind="text: reportVals.status.value"></div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
    {% comment %} Second block {% endcomment %}
    <div>
      <!-- <div class="her-final-step-section">
        <h5 class="summary-value">{% trans "Applicant and License Holder(s) name(s)" %}</h5>
        <div class="final-step-section-block">
          <div class="final-step-section-block-item">
            <div class="block-item">
              <div class="summary-label" data-bind="text: reportVals.licenseeName.name + ':'"></div>
              <div class="summary-value" data-bind="text: reportVals.licenseeName.value"></div>
            </div>
          </div>
        </div>
      </div> -->
      <div class="her-final-step-section">
        <h5 class="summary-value">{% trans 'Site Address' %}</h5>
        <div class="final-step-section-block">
          <div class="final-step-section-block-item">
            <div class="block-item">
              <!-- <div class="summary-label" data-bind="text: reportVals.address.name + ':'"></div> -->
              <div class="summary-value" data-bind="html: reportVals.siteAddress"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="her-final-step-section">
        <h5 class="summary-value">{% trans 'Date' %}</h5>
        <div class="final-step-section-block">
          <div class="final-step-section-block-item">
            <div class="block-item">
              <div class="summary-label" data-bind="text: reportVals.date.name + ':'"></div>
              <div class="summary-value" data-bind="text: reportVals.date.value"></div>
            </div>
          </div>
        </div>
      </div> -->
      </div>
      <div class="her-final-step-section">
        <h5 class="summary-value">{% trans 'License Number' %}</h5>
        <div class="final-step-section-block">
          <div class="final-step-section-block-item">
            <div class="block-item">
              <div class="summary-label" data-bind="text: 'License Number: '"></div>
              <div class="summary-value" data-bind="text: reportVals.licenseNumber"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="her-final-step-section">
        <h5 class="summary-value">{% trans 'Decision' %}</h5>
        <div class="final-step-section-block">
          <div class="final-step-section-block-item">
            <div class="block-item">
              <div class="summary-label" data-bind="text: 'Inspector: '"></div>
              <div class="summary-value" data-bind="text: reportVals.inspector"></div><br />
            </div>
            <div class="block-item">
              <div class="summary-label" data-bind="text: 'Decision Date: '"></div>
              <div class="summary-value" data-bind="text: reportVals.decisionDate"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="her-final-step-section">
        <h5 class="summary-value">{% trans 'Submission Details' %}</h5>
        <div class="final-step-section-block">
          <div class="final-step-section-block-item">
            <div class="block-item">
              <div
                class="summary-label"
                data-bind="text: reportVals.submissionDetails.name + ':'"
              ></div>
              <div class="summary-value" data-bind="text: reportVals.submissionDetails.value"></div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
    {% comment %} Third block {% endcomment %}
    <div>test</div>
  </div>
</div>
<!-- /ko -->
