{% load i18n %}

<!-- ko if: loading() === false -->
<div style="display: flex; flex-direction: row">
  <div class="card-component" style="width: 100%">
    <div class="row widget-wrapper">
      <div
        data-bind="component: {
          name: 'text-widget',
          params: {
              config: {
                  'label': 'Recipient Name',
              },
              value: applicant,
              loading: loading,
              form: $data,
              pageVm: $root
          }
      }"
      ></div>
    </div>
    <div class="row widget-wrapper">
      <div
        data-bind="component: {
            name: 'text-widget',
            params: {
                config: {
                    'label': 'Site Name',
                },
                value: areaName,
                loading: loading,
                form: $data,
                pageVm: $root
            }
        }"
      ></div>
    </div>
    <div class="row widget-wrapper">
      <div
        data-bind="component: {
          name: 'text-widget',
          params: {
            config: {
                'label': 'Site Name',
            },
            value: areaName,
            loading: loading,
            form: $data,
            pageVm: $root
          }
        }"
      ></div>
    </div>
    <div class="row widget-wrapper">
      <div
        data-bind="component: {
        name: 'datepicker-widget',
        params: {
            node: {
                config: {
                    'dateFormat': 'DD-MM-YYYY',
                },
            },
            config: {
                'label': 'Application Recieved Date',
                'maxDate': '',
                'minDate': '',
                'viewMode': 'days',
                'dateFormat': 'DD-MM-YYYY',
                'placeholder': 'Enter date',
                'defaultValue': ''
            },
            value: appDate,
            loading: loading,
            form: $data,
            pageVm: $root
        }
      }"
      ></div>
    </div>
    <div class="row widget-wrapper">
      <div
        data-bind="component: {
        name: 'datepicker-widget',
        params: {
            node: {
                config: {
                    'dateFormat': 'DD-MM-YYYY',
                },
            },
            config: {
                'label': 'Send Date',
                'maxDate': '',
                'minDate': '',
                'viewMode': 'days',
                'dateFormat': 'DD-MM-YYYY',
                'placeholder': 'Enter date',
                'defaultValue': ''
            },
            value: sendDate,
            loading: loading,
            form: $data,
            pageVm: $root
        }
      }"
      ></div>
    </div>
    <div class="row widget-wrapper">
      <div
        data-bind="component: {
          name: 'text-widget',
          params: { 
            config: {
                'label': 'Building Name',
            },
            value: buildingName,
            loading: loading,
            form: $data,
            pageVm: $root
          }
        }"
      ></div>
    </div>
    <div class="row widget-wrapper">
      <div
        data-bind="component: {
          name: 'text-widget',
          params: {
            config: {
                'label': 'Street',
            },
            value: street,
            loading: loading,
            form: $data,
            pageVm: $root
          }
        }"
      ></div>
    </div>
    <div class="row widget-wrapper">
      <div
        data-bind="component: {
          name: 'text-widget',
          params: {
            config: {
                'label': 'Building Number',
            },
            value: buildingNumber,
            loading: loading,
            form: $data,
            pageVm: $root
          }
        }"
      ></div>
    </div>
    <div class="row widget-wrapper">
      <div
        data-bind="component: {
          name: 'text-widget',
          params: {
            config: {
                'label': 'Building Number Sub Street',
            },
            value: buildingNumberSubSt,
            loading: loading,
            form: $data,
            pageVm: $root
          }
        }"
      ></div>
    </div>
    <div class="row widget-wrapper">
      <div
        data-bind="component: {
          name: 'text-widget',
          params: {
            config: {
                'label': 'Sub Street',
            },
            value: subStreet,
            loading: loading,
            form: $data,
            pageVm: $root
          }
        }"
      ></div>
    </div>
    <div class="row widget-wrapper">
      <div
        data-bind="component: {
          name: 'text-widget',
          params: {
            config: {
                'label': 'Sub Street',
            },
            value: subStreet,
            loading: loading,
            form: $data,
            pageVm: $root
          }
        }"
      ></div>
    </div>
    <div class="row widget-wrapper">
      <div
        data-bind="component: {
          name: 'text-widget',
          params: {
            config: {
                'label': 'Town or City',
            },
            value: city,
            loading: loading,
            form: $data,
            pageVm: $root
          }
        }"
      ></div>
    </div>
    <div class="row widget-wrapper">
      <div
        data-bind="component: {
          name: 'text-widget',
          params: {
            config: {
                'label': 'County',
            },
            value: county,
            loading: loading,
            form: $data,
            pageVm: $root
          }
        }"
      ></div>
    </div>
    <div class="row widget-wrapper">
      <div
        data-bind="component: {
          name: 'text-widget',
          params: {
            config: {
                'label': 'Postcode',
            },
            value: postCode,
            loading: loading,
            form: $data,
            pageVm: $root
          }
        }"
      ></div>
    </div>
    <div class="row widget-wrapper">
      <div
        data-bind="component: {
          name: 'text-widget',
          params: {
            config: {
                'label': 'Signed',
            },
            value: signed,
            loading: loading,
            form: $data,
            pageVm: $root
          }
        }"
      ></div>
    </div>
    <div class="row widget-wrapper">
      <div
        data-bind="component: {
          name: 'text-widget',
          params: {
            config: {
                'label': 'Senior Inspector',
            },
            value: seniorInspector,
            loading: loading,
            form: $data,
            pageVm: $root
          }
        }"
      ></div>
    </div>
    <div class="row widget-wrapper">
      <div
        data-bind="component: {
          name: 'rich-text-widget',
          params: {
            config: {
                'label': 'Text contents',
            },
            value: textBody,
            displayfullvalue: true,
            loading: loading,
            form: $data,
            pageVm: $root
          }
        }"
      ></div>
    </div>
  </div>
  <div class="card-component" style="width: 100%">
    <div class="row widget-wrapper">
      <div style="border: 5px solid black; padding: 10px; max-width: 500px; width: 100%">
        <!-- HEADER -->
        <div style="display: flex; align-items: end; width: 100%; flex-direction: column">
          <div>
            <!-- ko if: buildingName()[currentLanguage().code].value -->
            <span data-bind="text: buildingName()[currentLanguage().code].value"></span>
            <!-- /ko -->
            <!-- ko if: buildingName()[currentLanguage().code].value && buildingNumber()[currentLanguage().code].value -->
            <span>, </span>
            <!-- /ko -->
            <!-- ko if: buildingNumber()[currentLanguage().code].value -->
            <span data-bind="text: buildingNumber()[currentLanguage().code].value"></span>
            <!-- /ko -->
            <!-- ko if: buildingNumber()[currentLanguage().code].value && buildingNumberSubSt()[currentLanguage().code].value -->
            <span>, </span>
            <!-- /ko -->
            <!-- ko if: buildingNumberSubSt()[currentLanguage().code].value -->
            <span data-bind="text: buildingNumberSubSt()[currentLanguage().code].value"></span>
            <!-- /ko -->
          </div>
          <div>
            <!-- ko if: street()[currentLanguage().code].value -->
            <span data-bind="text: street()[currentLanguage().code].value"></span>
            <!-- /ko -->
            <!-- ko if: street()[currentLanguage().code].value && subStreet()[currentLanguage().code].value -->
            <span>, </span>
            <!-- /ko -->
            <!-- ko if: subStreet()[currentLanguage().code].value -->
            <span data-bind="text: subStreet()[currentLanguage().code].value"></span>
            <!-- /ko -->
          </div>
          <!-- ko if: city()[currentLanguage().code].value -->
          <span data-bind="text: city()[currentLanguage().code].value"></span>
          <!-- /ko -->
          <!-- ko if: county()[currentLanguage().code].value -->
          <span data-bind="text: county()[currentLanguage().code].value"></span>
          <!-- /ko -->
          <!-- ko if: postCode()[currentLanguage().code].value -->
          <span data-bind="text: getTextValue(postCode)"></span>
          <!-- /ko -->
        </div>
        <!-- DETAILS -->
        <div style="display: flex; width: 100%; flex-direction: column">
          <!-- ko if: sendDate() -->
          <span data-bind="text: 'Date: ' + sendDate()"></span>
          <!-- /ko -->
          <!-- ko if: getTextValue(bFileNumber) -->
          <span data-bind="text: 'Our ref: ' + getTextValue(bFileNumber)"></span>
          <!-- /ko -->
          <!-- ko if: getTextValue(areaName) -->
          <span data-bind="text: 'Site: ' + getTextValue(areaName)"></span>
          <!-- /ko -->
          <!-- ko if: getTextValue(licenseNo) -->
          <span data-bind="text: 'License No: ' + getTextValue(licenseNo)"></span>
          <!-- /ko -->
        </div>
        <!-- BODY -->
        <div style="display: flex; width: 100%; flex-direction: column; margin: 24px 0 16px 0">
          <!-- ko if: getTextValue(applicant) -->
          <span data-bind="text: 'Dear, ' + getTextValue(applicant)"></span>
          <!-- /ko -->
          <span
            data-bind="html: getTextValue(textBody) || 'Please enter information regarding the email!!'"
            style="margin-top: 8px"
          ></span>
        </div>
        <!-- FOOTER -->
        <div style="display: flex; width: 100%; flex-direction: column">
          <!-- ko if: getTextValue(seniorInspector) -->
          <span data-bind="text: 'Senior Inspector: ' + getTextValue(seniorInspector)"></span>
          <!-- /ko -->
          <span
            data-bind="text: 'Signed: ' + (getTextValue(signed) || 'Signature required!')"
          ></span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /ko -->

<div class="cover-letter">
  {% comment %}
  <div class="her-cover-letter-section">
    <div data-bind="style: { display: 'flex', 'justify-content': 'space-between' }">
      <div data-bind="style: { background: 'silver', width: '20em'}">
        <p data-bind="style: { width: '12em', 'margin-left': '4px'}">
          Recipient name: <input data-bind="value: applicant" /><select
            data-bind="options: ['applicants', 'license holder'], optionsCaption: '...'"
          ></select>
        </p>
        <p data-bind="style: { width: '12em', 'margin-left': '4px'}">
          Site name as it appears on the license: <input data-bind="value: areaName" />
        </p>
        <p data-bind="style: { width: '12em', 'margin-left': '4px'}">
          Application Recieved Date: <input data-bind="value: appDate" /><select
            data-bind="options: appDateOptions, optionsCaption: '...', value: selectedAppDate"
          ></select>
        </p>
        <p data-bind="style: { width: '12em', 'margin-left': '4px'}">
          Date: <input data-bind="value: sendDate" />
        </p>
        <p data-bind="style: { width: '12em', 'margin-left': '4px'}">
          Recipient Address:
          <select
            data-bind="options: addressOptions, optionsCaption: '...', value: selectedAddress"
          ></select>
        </p>
        <p data-bind="style: { width: '12em', 'margin-left': '8px'}">
          Building Name: <input data-bind="value: buildingName" />
        </p>
        <p data-bind="style: { width: '12em', 'margin-left': '8px'}">
          Building Number: <input data-bind="value: buildingNumber" />
        </p>
        <p data-bind="style: { width: '12em', 'margin-left': '8px'}">
          Street: <input data-bind="value: street" />
        </p>
        <p data-bind="style: { width: '12em', 'margin-left': '8px'}">
          Building Number Sub Street: <input data-bind="value: buildingNumberSubSt" />
        </p>
        <p data-bind="style: { width: '12em', 'margin-left': '8px'}">
          Sub Street: <input data-bind="value: subStreet" />
        </p>
        <p data-bind="style: { width: '12em', 'margin-left': '8px'}">
          Town or City: <input data-bind="value: city" />
        </p>
        <p data-bind="style: { width: '12em', 'margin-left': '8px'}">
          County: <input data-bind="value: county" />
        </p>
        <p data-bind="style: { width: '12em', 'margin-left': '8px'}">
          Postcode: <input data-bind="value: postCode" />
        </p>
        <p data-bind="style: { width: '12em', 'margin-left': '4px'}">
          Signed: <input data-bind="value: signed" />
        </p>
        <p data-bind="style: { width: '12em', 'margin-left': '4px'}">
          Senior Inspector: <input data-bind="value: seniorInspector" />
        </p>
        <p data-bind="style: { width: '12em', 'margin-left': '4px'}">
          Date : <input data-bind="value: sendDate" /><select
            data-bind="options: sendDateOptions, optionsCaption: '...', value: selectedSendDate"
          ></select>
        </p>
      </div>
      <div
        data-bind="style: { background: 'white', 'margin-right': '20px', 'margin-top': '20px', 'padding': '20px', border: 'solid', height: 'fit-content'}"
      >
        <!-- <a class="summary-value" data-bind="text: reportVals.licenseeName.value + ', ' + reportVals.applicantInformation.value"></a> -->
        <div data-bind="style: {'text-align': 'right', 'margin-right': '8px'}">
          <div data-bind="html: address()"></div>
        </div>
        <p class="summary-value" data-bind="text: 'Date: ' + sendDate()"></p>
        <p class="summary-value" data-bind="text: 'Our Ref: ' + bFileNumber()"></p>
        <!-- <p class="summary-value" data-bind="text: 'Date: ' + reportVals.date.value"></p> -->
        <p class="summary-value" data-bind="text: 'Dear ' + applicant() + ', ' + company()"></p>
        <p class="summary-value" data-bind="text: 'Site: ' + reportVals.areaName + '.'"></p>
        <p class="summary-value" data-bind="text: 'License No: ' + reportVals.licenseNo"></p>
        <p
          class="summary-value"
          data-bind="text: 'Further to your application on ' + appDate() + ', please find attached an Excavation License for the above-mentioned location.'"
        ></p>
        <p class="summary-value" data-bind="text: signed()"></p>
        <p
          class="summary-value"
          data-bind="text: signed() != seniorInspector() ? seniorInspector() : ''"
        ></p>
      </div>
      <div></div>
    </div>
    <!-- <p class="summary-value" data-bind="text: reportVals.decisionBy.value"></p> -->

    <!-- <div class="cover-letter-section-block">
      <div class="cover-letter-section-block-item">
        <a data-bind="attr: { href: urls.resource + '/' + resourceid}" target="_blank">
          <div
            class="summary-value"
            data-bind="text: displayName + ' ({% trans 'Excavation Resource Instance' %})'"
          ></div>
        </a>
      </div>
    </div>
  </div> {% endcomment %}
  <div style="display: flex; justify-content: space-between">
    {% comment %} First block {% endcomment %}
    <div class="her-cover-letter-section">
        <div class="cover-letter-section-block">
          <div class="cover-letter-section-block-item">
            <div class="block-item">
              <div
                class="summary-label"
                data-bind="text: reportVals.applicantInformation.name + ':'"
              ></div>
              <div
                class="summary-value"
                data-bind="text: reportVals.applicantInformation.value"
              ></div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="her-cover-letter-section">
          <div class="cover-letter-section-block">
            <div class="cover-letter-section-block-item">
              <div class="block-item">
                <div class="summary-label" data-bind="text: reportVals.licenseeName.name + ':'"></div>
                <div class="summary-value" data-bind="text: reportVals.licenseeName.value"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="her-cover-letter-section">
            <div class="cover-letter-section-block">
              <div class="cover-letter-section-block-item">
                <div class="block-item">
                  <div class="summary-label" data-bind="text: reportVals.address.name + ':'"></div>
                  <div class="summary-value" data-bind="text: reportVals.address.value"></div>
                </div>
              </div>
            </div>
          </div>
      <div class="her-cover-letter-section">
        <div class="cover-letter-section-block">
          <div class="cover-letter-section-block-item">
            <div class="block-item">
              <div class="summary-label" data-bind="text: reportVals.siteName.name + ':'"></div>
              <div class="summary-value" data-bind="text: 'Site: ' + reportVals.siteName.value"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="her-cover-letter-section">
        <div class="cover-letter-section-block">
          <div class="cover-letter-section-block-item">
            <div class="block-item">
              <div
                class="summary-label"
                data-bind="text: reportVals.bFileCmNumber.name + ':'"
              ></div>
              <div class="summary-value" data-bind="text: 'Our Ref: ' + reportVals.bFileCmNumber.value"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="her-cover-letter-section">
        <div class="cover-letter-section-block">
          <div class="cover-letter-section-block-item">
            <div class="block-item">
              <div class="summary-label" data-bind="text: reportVals.date.name + ':'"></div>
              <div class="summary-value" data-bind="text: 'Date: ' + reportVals.date.value + reportVals.applicantInformation.value"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="her-cover-letter-section">
        <div class="cover-letter-section-block">
          <div class="cover-letter-section-block-item">
            <div class="block-item">
              <div class="summary-label" data-bind="text: reportVals.licenseeName.name + ':'"></div>
              <div class="summary-value" data-bind="text: 'Dear ' + reportVals.licenseeName.value + ', ' + "></div>
            </div>
          </div>
        </div>
      </div>
      <div class="her-cover-letter-section">
        <h5 class="summary-value">{% trans 'Site Name' %}</h5>
        <div class="cover-letter-section-block">
          <div class="cover-letter-section-block-item">
            <div class="block-item">
              <div class="summary-label" data-bind="text: reportVals.siteName.name + ':'"></div>
              <div class="summary-value" data-bind="text: 'Site: ' + reportVals.siteName.value"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="her-cover-letter-section">
        <div class="cover-letter-section-block">
          <div class="cover-letter-section-block-item">
            <div class="block-item">
              <div class="summary-label" data-bind="text: reportVals.planningRef.name + ':'"></div>
              <div class="summary-value" data-bind="text: 'License No: ' + reportVals.planningRef.value"></div>
            </div>
          </div>
        </div>
      </div>


    {% comment %} Second block {% endcomment %}


    
    <div class="her-cover-letter-section">
        <h5 class="summary-value">{% trans 'License Number' %}</h5>
        <div class="cover-letter-section-block">
            <div class="cover-letter-section-block-item">
                <div class="block-item">
                    <div class="summary-label" data-bind="text: reportVals.licenseNumber.name + ':'"></div>
                    <div class="summary-value" data-bind="text: reportVals.licenseNumber.value"></div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- TODO get application submition date -->

    <!-- <div class="her-cover-letter-section">
        <h5 class="summary-value">{% trans 'Submission Details' %}</h5>
        <div class="cover-letter-section-block">
          <div class="cover-letter-section-block-item">
            <div class="block-item">
              <div
                class="summary-label"
                data-bind="text: reportVals.submissionDetails.name + ':'"
              ></div>
              <div class="summary-value" data-bind="text: reportVals.submissionDetails.value"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% comment %} Third block {% endcomment %}
    <div>test</div>-->
  </div>
</div>
<!-- /ko -->
