{% load i18n %}
<!-- ko if: loading() === false -->
<div class="final-step">
  <div class="her-final-step-section">
    <h5 class="summary-value">{% trans 'Created or Modified Resource Instance' %}</h5>
    <div class="final-step-section-block">
      <div class="final-step-section-block-item">
        <a data-bind="attr: { href: urls.resource + '/' + resourceid}" target="_blank">
          <div
            class="summary-value"
            data-bind="text: displayName() + ' ({% trans 'License Resource Instance' %})'"
          ></div>
        </a>
      </div>
    </div>
  </div>
  <div style="display: flex">
    <div
      data-bind="component: {
        name: 'render-nodes',
        params: {
          resourceNodes: renderedNodegroups()['license']
        }
      }"
    ></div>
    <div
      data-bind="component: {
        name: 'render-nodes',
        params: {
          resourceNodes: renderedNodegroups()['activity']
        }
      }"
    ></div>
    <div
      data-bind="component: {
        name: 'render-nodes',
        params: {
          resourceNodes: renderedNodegroups()['digital-files']
        }
      }"
    ></div>
  </div>
</div>
<!-- /ko -->
