{% load i18n %}
<div style="height: 100%; padding: 10px 24px;">
    <div style="padding: 5px 5px 5px 65px">
        <div class="widget-input-label">Select Related Licence</div>
        <div data-bind="component: {
            name: 'resource-instance-select-widget',
            params: {
                graphids: [
                    'cc5da227-24e7-4088-bb83-a564c4331efd',
                ],
                renderContext: 'workflow',
                value: resourceValue,
                disabled: locked,
            }
        }"></div>
    </div>
    <!-- ko if: tile() && card() && resourceValue() -->
    <div>
        <div data-bind="component: {
            name: 'default-card',
            params: {
                graphid: 'b9e0701e-5463-11e9-b5f5-000d3ab1e588',
                nodegroupid: '5f00ef7e-9f63-11ea-9db8-f875a44e0e11',
                form: $data,
                pageVm: $root,
                tile: actTile(),
                card: actCard(),
                value: actResVal
            }
        }">
        </div>
        <div data-bind="component: {
            name: cardComponentLookup[card().model.component_id()].componentname,
            params: {
                card: card(),
                tile: tile(),
                provisionalTileViewModel: provisionalTileViewModel,
                reviewer: reviewer,
                loading: loading,
                form: $data,
                pageVm: $root
            }
        }">
        </div>
    </div>
    <!-- ko if: tile() && card() && actVal() -->
   
    <!-- /ko -->

    <!-- /ko -->
</div>
