<!-- ko if: ko.unwrap(tile) && ko.unwrap(card) -->
    <div data-bind="graphids"></div>
    <!-- ko component: {
        name: 'default-card',
        params: {
            card: ko.unwrap(card),
            tile: ko.unwrap(tile),
            provisionalTileViewModel: provisionalTileViewModel,
            reviewer: reviewer,
            loading: loading,
            graphids: $data.graphids,
            form: $data,
            state: 'form',
            pageVm: $data.pageVm
        }
    } --><!-- /ko -->
<!-- /ko -->

