<!-- ko if: !hiddenCard -->
<!-- ko if: cardTitle -->
<div
  class="aher-report-section-title"
  data-bind="text: cardTitle, style: {'padding-left': '4ch'}"
></div>
<!-- /ko -->
<!-- ko component: {
      name: 'default-card',
      params: {
          card: ko.unwrap(card),
          tile: ko.unwrap(tile),
          provisionalTileViewModel: provisionalTileViewModel,
          reviewer: reviewer,
          loading: loading,
          graphids: graphids,
          form: $data,
          state: 'form',
          pageVm: $data.pageVm
      }
  } -->
<!-- /ko -->
<!-- /ko -->