<!-- ko if: !hiddenCard -->
<!-- ko if: title() -->
<h4
  class="card-component-panel-h4"
  style="margin-left: 50px; margin-top: 40px"
  data-bind="text: title()"
></h4>
<!-- /ko -->
<!-- ko component: {
      name: 'default-card',
      params: {
          card: ko.unwrap(card),
          tile: ko.unwrap(tile),
          provisionalTileViewModel: provisionalTileViewModel,
          reviewer: reviewer,
          loading: loading,
          graphids: graphids,
          form: $data,
          state: 'form',
          pageVm: $data.pageVm
      }
  } -->
<!-- /ko -->
<!-- /ko -->
