<div class="card-component">
    <div
        class="her-final-step-section"
        style="padding: 0px; border-bottom: 1px solid #7777; margin: 0 15px"
    >
        <h4 class="summary-value" style="color: #2b547c" data-bind="text: title"></h4>
    </div>
    <table data-bind="style: {'margin-left': `2ch`}">
        <tbody data-bind="foreach: {data: showNodes, as: 'labelValue'}">
        <tr>
            <td>
                <h4 class="summary-value" style="color: #2b547c; font-size: 14px;" data-bind="text: labelValue[0]"></h4>
            </td>
            <td>
                <!-- Iterate over remaining values in labelValue -->
                <span class="summary-value" data-bind="foreach: labelValue.slice(1)">
                    <span data-bind="text: $data, style: {'margin-left': `4ch`}"></span>
                </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>