name: Conventional Commits

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: webiny/action-conventional-commits@v1.3.0
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  versioning:
    name: Versioning
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v3

      - name: Calculate Version
        id: calculate-version
        uses: bitshifted/git-auto-semver@v1
        with:
          create_tag: true
          initial_version: 2.42.39

      - name: Use version
        run: |
          echo "Calculated version: ${{ steps.calculate-version.outputs }}"
