name: Release update to UAT
run-name: Release update to UAT
on:
  push:
    tags: [ 'v*.*.*-RELEASE' ]
env:
  ARCHES_BASE: ghcr.io/flaxandteal/arches-base:coral-7.6
  ARCHES_PROJECT: coral
jobs:
  Build-Arches:
    runs-on: [self-hosted]
    outputs:
      image: ${{ steps.extract_image_name.outputs.image_name }}
    steps:
      - name: Set up Docker Context for Buildx
        id: buildx-context
        run: |
          docker context create builders
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          version: latest
          endpoint: builders
  
      - name: Echo extracted image name
        run: |
          echo "Extracted image name: ${{ steps.extract_image_name.outputs.image_name }}"
      # name: Build docker backend image
      # run: |
      #   docker build --build-arg ARCHES_BASE=${{ env.ARCHES_BASE }} --build-arg ARCHES_PROJECT=${{ env.ARCHES_PROJECT }} . -t arches_${{ env.ARCHES_PROJECT }}
      - name: Log in to Github
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Tag and push
        run: |
          docker pull ghcr.io/flaxandteal/arches_${{ env.ARCHES_PROJECT }}:main-10177003528
          docker pull ghcr.io/flaxandteal/arches_${{ env.ARCHES_PROJECT }}_static:main-10177003528
          docker pull ghcr.io/flaxandteal/arches_${{ env.ARCHES_PROJECT }}_static_py:main-10177003528
          docker tag ghcr.io/flaxandteal/arches_${{ env.ARCHES_PROJECT }}:main-10177003528 ghcr.io/flaxandteal/arches_${{ env.ARCHES_PROJECT }}:${{ github.ref_name }}
          docker tag ghcr.io/flaxandteal/arches_${{ env.ARCHES_PROJECT }}_static:main-10177003528 ghcr.io/flaxandteal/arches_${{ env.ARCHES_PROJECT }}_static:${{ github.ref_name }}
          docker tag ghcr.io/flaxandteal/arches_${{ env.ARCHES_PROJECT }}_static_py:main-10177003528 ghcr.io/flaxandteal/arches_${{ env.ARCHES_PROJECT }}_static_py:${{ github.ref_name }}
          docker push ghcr.io/flaxandteal/arches_${{ env.ARCHES_PROJECT }}:${{ github.ref_name }}
          docker push ghcr.io/flaxandteal/arches_${{ env.ARCHES_PROJECT }}_static:${{ github.ref_name }}
          docker push ghcr.io/flaxandteal/arches_${{ env.ARCHES_PROJECT }}_static_py:${{ github.ref_name }}
